<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creation.android.folkapp2019">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/folk_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Profile_talents"></activity>
        <activity android:name=".Splash_screen_first_use" />
        <activity android:name=".Splash_screen_minor_update" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EditDetails" />
        <activity android:name=".AwatingApproval" />
        <activity android:name=".RequestAccomodationActivity" />
        <activity android:name=".ConfirmOccupancy" />
        <activity android:name=".Splash_screen" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".OTP_folk_member" />
        <activity android:name=".OTP" />
        <activity android:name=".Guest_signup" />
        <activity android:name=".Folk_signup" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Splash_screen_major_updates"
            android:label="@string/app_name"
            android:versionCode="1"
            android:versionName="5.0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>